$special-bg-font: #058283;
$options-color: #606D75;
$third-bg: #E2E3E7;
$cards-bg: #EBECEF;
$numbers-color: #00A6A6;
$primary-bg:#000000;
$excellence-bg: #E2E3E7;
$primary-font: #0D1B2A;
$secondary-bg-font: #FFFFFF;